## VENV
ingestion-project-venv

## LOGS
*.log

## CACHE
*.pyc
/scripts/__pycache__

## VSCode Files
*.vscode
/.vscode

## tempfiles
*.wal

## DB
/data
*.db

## dbt
dbt_core/target/
dbt_core/dbt_packages/
dbt_core/logs/
dbt_core/profiles.yml