## VENV
ingestion-project-venv

## LOGS
*.log

## CACHE
*.pyc
/scripts/__pycache__

## VSCode Files
*.vscode
/.vscode

## tempfiles
*.wal

## DB
/data
*.db

## dbt
dbt_core/target/
dbt_core/dbt_packages/
dbt_core/logs/
dbt_core/profiles.yml

## RUFF
.ruff_cache

## DAGSTER temp
tmp*

## TEST
scripts/runner_test.py

## EVIDENCE

evidence/.evidence/template
evidence/.svelte-kit
evidence/build
evidence/node_modules
evidence/.DS_Store
evidence/static/data
evidence/*.options.yaml
evidence/.vscode/settings.json